@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style-type: none;
  text-decoration: none;
}

body,
html {
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", monospace;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
}

.social-link {
  padding: 20px;
  font-size: 20px;
}

.social-menu {
  display: flex;
  gap: 1em;
}

.menu-ul a:hover,
.social-menu i:hover,
.nav-logo h1,
.text-footer {
  color: #cb4445;
}

.nav-logo {
  font-size: 30px;
}

.hero {
  background-position: center;
  width: 100%;
}

.hero-left-intro {
  text-align: center;
  margin: 20px;
}

.hero-descript {
  text-align: justify;
}

.hero-name {
  font-size: 40px;
}

.hero-items {
  margin: 10px 0;
}

.hero-img {
  display: block;
  width: 100%;
  margin: auto;
  padding: auto;
}

.hero-right-intro {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.experience-num {
  font-size: 40px;
  font-weight: 300;
  padding-top: 30px;
}

.hero-plus {
  color: #cb4445;
}

.btn-style,
.btn-style p {
  background-color: #cb4445;
  border-radius: 20px;
  width: 150px;
  margin: auto;
  padding: 10px 15px;
}

.btn-style:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid #cb4445;
}
.skill-item > i {
  font-size: 150px;
}

.skill-list {
  /* display: flex;
  gap: 1em; */
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.skill-list p {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.project-header {
  margin: 40px;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  border: 1px solid #cb4445;
  border-radius: 40px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2em;
  margin: 30px;
}

.project-container article,
h3 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.project-item {
  background-color: rgb(0, 0, 0);
  border-left: 4px solid #cb4445;
  margin-left: 20px;
}

.project-details {
  margin-left: 5px;
}

.project-details > img {
  display: block;
  width: 400px;
  margin: auto 20px;
  padding: auto 20px;
}

.link-items {
  display: flex;
  justify-content: end;
  gap: 1em;
  margin-top: 10px;
}

.contact-header {
  padding: 20px 70px;
  margin: 30px;
  background-color: black;
  border: 1px solid #cb4445;
  border-radius: 20px;
  text-align: center;
}
.project-item img,
.project-title,
.description {
  align-items: 20px;
}

.project-title {
  color: #cb4445;
}
.contact-form {
  padding: 50px 90px;
  margin: 30px;
  border: 1px solid #cb4445;
  background-color: black;
  border-radius: 20px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.contact-item input {
  margin-top: 10px;
}

.contact-form p {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-radius: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.text-footer,
.footer p {
  font-size: 10px;
}
.copyright {
  margin-right: 100px;
}

.message-box {
  color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

@media only screen and (min-width: 961px) {
  .hero {
    background-image: url(images/background.png);
    background-position: center;
    width: 100%;
    margin: 20px;
  }

  .hero-logo {
    display: none;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .nav-logo {
    padding: 20px;
    font-size: 25px;
  }

  .social-menu {
    font-size: 20px;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .hero-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .hero-items p,
  h3 {
    font-size: 20px;
  }

  .hero-items h3 {
    font-size: 30px;
  }
  .hero-name {
    font-size: 40px;
  }

  .hero-left-intro {
    text-align: left;
    width: 400px;
  }

  .hero-right-intro {
    text-align: right;
    width: 350px;
  }

  .experience-num {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
    padding-top: 30px;
  }

  .experience-item p {
    font-size: 30px;
  }

  .btn-style {
    background-color: #cb4445;
    width: 150px;
    text-align: center;
    padding: 10px 15px;
  }

  .project-header {
    font-size: 30px;
  }

  .contact-form {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 50px;
  }
  .contact-item label {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .contact-form input {
    width: 400px;
  }
  .message-box {
    padding: 20px;
  }
}
